body {
    color:#52505f !important;    
}

.brand {
    font-family: 'Dancing Script', cursive !important;
}

img {
    
}

.emotion {
    width:30px;
}

.icon {
    color: #888;
    cursor:pointer;
}

td {
    padding: 10px !important;
    font-family: "Josefin Slab" !important;
}

table th {
    font-family: "Josefin Slab" !important;
}
.brand {
    margin-bottom: 20px !important;
}

.tif-btn {
    float: right !important;
    border-radius: 20px !important;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.dropdown-set {
    float:right;
}



.fa-cog {
    color: darkgray;
}
