body {
    color:#52505f !important;    
}

.brand {
    font-family: 'Dancing Script', cursive !important;
}

img {
    
}

.emotion {
    width:30px;
}

.icon {
    color: #888;
    cursor:pointer;
}

td {
    padding: 10px !important;
    font-family: "Josefin Slab" !important;
}

table th {
    font-family: "Josefin Slab" !important;
}