{% extends "tif/base.html" %}

{% block body %}
<!-- <div style="color:red; font-size:2em;">hello world, {{ name }}</div>
<div style="color:#123456;">hello world, joe</div>
<div style="color:red;">hello world, scott</div> -->

<div class="container">
  <div class="brand">Today I Feel</div>
  {% load socialaccount %}
  {% if not user.is_authenticated %}
    {% include "tif/login.html" %}
  {% else %}
      <div class="login" style="margin-bottom:20px;">
          <a href="{% url 'tif:logout' %}" class="btn btn-dark btn-lg">로그아웃</a>
          <a href="{% url 'tif:report_add' %}"
          class="btn btn-dark btn-lg">New report</a>
      </div>

      <div class="row">
         {% for report in report_list %}
               {% include "tif/report.html" %}
         {% endfor %}
      </div>

{% endif %}

  <div class="modal fade" id="record-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form enctype="multipart/form-data" id="subscribe-time-form" method="post" action="{% url 'tif:record' %}">
        {% csrf_token %}
        <input type="hidden" class="timeId" name="timeId" value="timeId">
        <div class="modal-body" id="timeId">
              <div>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Activity:</label>
                    <input type="text" class="form-control" id="activity" name="activity">
                  </div>

                <div class="form-group">
                    <label for="recipient-name" class="control-label">Feeling:</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" name="feeling" value="joy">
                      <img class="emotion" src="static/img/joy.png" alt="기쁨">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" name="feeling" value="sadness">
                        <img class="emotion" src="static/img/sadness.png" alt="슬픔">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="discust">
                       <img class="emotion" src="static/img/discust.png" alt="역겨움">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="anger">
                       <img class="emotion" src="static/img/anger.png" alt="화남">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="fear">
                       <img class="emotion" src="static/img/fear.png" alt="공포">
                    </label>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
    </form>
   </div>
  </div>
 </div><!-- /.modal-content -->

<div class="modal fade" id="memo-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form enctype="multipart/form-data" id="subscribe-memo-form" method="post" action="{% url 'tif:memo_add' %}">
        {% csrf_token %}
        <input type="hidden" class="timeId" name="timeId" value="timeId">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Memo</h4>
        </div>
          <div class="modal-body">
              {{memo_form.as_p}}
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
    </form>
   </div>
  </div>
 </div><!-- /.modal-content -->

<div class="modal fade" id="memo-Modal-2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form enctype="multipart/form-data" id="subscribe-memo-form" method="post" action="{% url 'tif:memo_edit' %}">
        {% csrf_token %}
        <input type="hidden" class="memoId" name="memoId" value="memoId">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Memo</h4>
        </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Title:</label>
            <input type="text"  class="form-control" id="title" name="title" value="안녕">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Content:</label>
            <textarea class="form-control" id="content" name="content"></textarea>
          </div>
      </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
    </form>
   </div>
  </div>
 </div><!-- /.modal-content -->

</div>
<script type="text/javascript">

$(document).ready(function() {
    var addReport = $(".addReport")
    var timeId = 0;
    addReport.click(function () {
        timeId = $(this).attr('id');
        $(".timeId").attr('value', timeId );
      })

    $(function(){
      $('.addReport').click(function(){
        var timeId = $(this).attr('id');
        $.ajax({
          dataType: "json",
          url: '{%url 'tif:time_data' %}',
          type: 'GET',
          data: {"timeId" : timeId},
          success: function (data) {
            console.log(data);
            var activityList = '';
            var feelingList = [];
            for (var i = 0; i < data.length; i++) {
              if('activity' in data[i]){
                activityList = activityList + data[i].activity;
                activityList = activityList + ' ' ;
              }
              if('feeling' in data[i]){
                feelingList.push(data[i].feeling);
              }
            }
            if(feelingList.length > 0){
              $("#record-Modal input:checkbox[name='feeling']").each(function(index, item){
                for (var i = 0; i < feelingList.length; i++) {
                  if(this.value == feelingList[i]){
                    this.checked = true;
                  }
                }
              });
              // 이게최선인가?
            }
            else{
              $("#record-Modal input:checkbox[name='feeling']").each(function(index, item){
                this.checked = false;
              });
            }

            $('#record-Modal #activity').attr('value', activityList);
            $('#record-Modal').modal('show')
          }
        })
      })
    });

    $(function(){
    $('.memo').click(function(){
        var memoId = $(this).attr('id');
        $(".memoId").attr('value', memoId );
        $.ajax({
                dataType: "json",
                url: '{% url 'tif:memo_data' %}',
                type: 'GET',
                data:{"memoId" : memoId },
                success: function(data){
                     console.log(data);
                    $('#memo-Modal-2 #title').attr('value', data.title);
                    $('#memo-Modal-2 #content').html(data.content)
                }
            });
        });
    });

});

  {% if messages %}
    {% for message in messages %}
      alert('{{message}}');
    {% endfor %}
  {% endif %}

</script>
{% endblock %}
