{% extends "tif/base.html" %}

{% block body %}
<!-- <div style="color:red; font-size:2em;">hello world, {{ name }}</div>
<div style="color:#123456;">hello world, joe</div>
<div style="color:red;">hello world, scott</div> -->

<div class="container">
  <div class="brand">Today I Feel</div>
  <a href="{% url 'tif:report_add' %}">
    <button class="btn btn-default" type="submit">New</button>
  </a>
  <div class="row">
   {% for report in report_list %}
       {% include "tif/report.html" %}
   {% endfor %}
  </div>
  <div class="modal fade" id="record-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form enctype="multipart/form-data" id="subscribe-time-form" method="post" action="">
        {% csrf_token %}
        <input type="hidden" class="timeId" name="timeId" value="timeId">
<!--
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">기록하기</h4>
        </div>
-->
        <div class="modal-body" id="timeId">
              <div>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Activity:</label>
                    <input type="text" class="form-control" id="recipient-name" name="activity">
                  </div>

                <div class="form-group">
                    <label for="recipient-name" class="control-label">Feeling:</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" name="feeling" value="joy">
                      <img class="emotion" src="static/img/joy.png" alt="기쁨">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" name="feeling" value="sadness">
                        <img class="emotion" src="static/img/sadness.png" alt="슬픔">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="anger">
                       <img class="emotion" src="static/img/discust.png" alt="역겨움">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="discust">
                       <img class="emotion" src="static/img/anger.png" alt="화남">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" name="feeling" value="fear">
                       <img class="emotion" src="static/img/fear.png" alt="공포">
                    </label>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
    </form>
   </div>
  </div>
 </div><!-- /.modal-content -->
 
   <div class="modal fade" id="memo-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form enctype="multipart/form-data" id="subscribe-memo-form" method="post" action="{% url 'tif:memo_add' %}">
        {% csrf_token %}
        <input type="hidden" class="timeId" name="timeId" value="timeId">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Memo</h4>
        </div>
          <div class="modal-body">
              {{memo_form.as_p}}
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
    </form>
   </div>
  </div>
 </div><!-- /.modal-content -->
 
 
</div>
<script type="text/javascript">
  
$(document).ready(function() { 
    var addReport = $(".addReport")
    var timeId = 0;
    addReport.click(function () {
        timeId = $(this).attr('id');
        $(".timeId").attr('value', timeId );
      })

    $(function(){
    $('#subscribe-time-form').on('submit', function(e){
        e.preventDefault();
        $('#record-Modal').modal('hide');
        $.ajax({
                url: '{% url 'tif:record' %}',
                type: 'POST',
                data: $('#subscribe-time-form').serialize(),
                success: function(data){
                    window.location.reload()
                }
            });
        });
    });
    
//    $(function(){
//    $('#subscribe-memo-form').on('submit', function(e){
//        e.preventDefault();
//        $('#memo-Modal').modal('hide');
//        $.ajax({
//                url: '{% url 'tif:memo_add' %}',
//                type: 'POST',
//                data: $('#subscribe-memo-form').serialize(),
//                success: function(data){
//                    window.location.reload()
//                }
//            });
//        });
//    });
    
}); 

    
  {% if messages %}
    {% for message in messages %}
      alert('{{message}}');
    {% endfor %}
  {% endif %}
</script>
{% endblock %}
